:root {
  --text-color:#ffffff;
  --text-color-hover:rgba(255,255,255,0.5);
  --stroke-color:rgba(255,255,255,0.5);
  --bg-url:url(./assets/bg-mobile.jpg);
  --surface-color:rgba(255,255,255,0.1);
  --highlight-color:rgba(255,255,255,0.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  --text-color: #000000;
  --bg-url:url(./assets/bg-mobile-light.jpg);
  --stroke-color:rgba(0,0,0,0.5);
  --surface-color:rgba(0,0,0,0.05);
  --surface-color-hover:rgba(0,0,0,0.02);
  --text-color-hover:rgba(0,0,0,0.5);
  --highlight-color:rgba(0,0,0,0.1);
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background: var(--bg-url) no-repeat top center/cover ;
}

#conteiner {
  width: 360px;
  margin: 56px auto 0;
  padding: 0 24px;
}

.profile {
  padding: 24px;
  text-align: center; /*A tag img tem o comportamento inline, aceitando cer alinhada dessa forma pelo elemento pai*/
}

.profile img {
  width: 112px;
  border-radius: 50%;
  border: 2px solid var(--stroke-color);
}

.profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

.links li a {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--stroke-color);
  text-decoration: none;
  background-color: var(--surface-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: var(--text-color);
  font-weight: 500;
  transition:background 0.3s;
}

.links li a:hover {
  border: 1.5px solid var(--text-color);
  background-color: var(--surface-color-hover);
}

#social {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  gap: 6px;
}

#social a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}

#social a:hover {
  background-color: var(--highlight-color);
}

#social ion-icon {
  font-size: 28px;
  color: var(--text-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

footer a {
  font-weight: 500;
  color: var(--text-color);
  transition: color 0.2s;
}

footer a:hover {
  color: var(--text-color-hover);
}